.backsplash {
    background-color: #3269a8;
}

* {
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
}

.content_background {
    background-color: white;
    background-position: center;
    background-attachment: scroll;
    text-align: justify;
    margin: auto;
    margin-top: 15px;
    width: 60%;
    border: 4px solid black;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 black
}
.search {
    text-align:left;
    position: sticky;
}

.search-bar {
    font-size: 20px;
    width: 200px;
    border: 2px solid black
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
  }

.logo {
    height:100%;
    padding-top:20px;
  }

.logo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }

.copyright {
    position: bottom;
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 95%; 
    opacity: .7;
}

.amazon {
    padding-top: 40px;
    padding-bottom:40px;
    border: 3px solid blue
}

.amazon img{
    max-width: 40%;
    max-height: 40%;
    display: block;
    text-align: center;
    border: 2px solid black
}